<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<div th:replace="layout/layout :: header"></div>
	<div th:replace="layout/layout :: container"></div>

	<!-- Page wrapper  -->
	<div class="page-wrapper">
		<!-- Container fluid  -->
		<div class="container-fluid text-center">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="white-box">
						<div class="d-md-flex mb-3">
							<h3 class="box-title mb-0">Actividades realizadas</h3>
						</div>
						<div class="table-responsive">
							<table class="table no-wrap">
								<thead>
									<tr>
										<th class="border-top-0">Numero de la actividad</th>
										<th class="border-top-0">Responsable</th>
										<th class="border-top-0">Fecha</th>
										<th class="border-top-0">Evidencias</th>
										<th class="border-top-0">Agregar imagen</th>
									</tr>
								</thead>
								<tbody th:each="a: ${actividad}">
									<tr>

										<td class="txt-oflo" th:text="${a.idActividad}"></td>
										<td th:text="${a.usuario.nombre}"></td>
										<td class="txt-oflo" th:text="${a.fecha}"></td>
										<td>
											<div class="row">
												<div class="col-md-6 col-sm-6">
													<a th:if="${documento.isEmpty()}"
															href="" class="btn btn-outline-secondary btn-sm">
															<i class=" fas fa-download" aria-hidden="true"></i>&nbsp
															no hay documento 
													</a>
													<div th:each="d: ${documento}">
														<a th:if="${d != null }"
															th:href="@{'/actividad/download/' + ${d.url}}"
															target="blank" class="btn btn-outline-success btn-sm">
															<i class=" fas fa-download" aria-hidden="true"></i>&nbsp
															Descargar Excel
														</a>
													</div>

												</div>
												<div class="col-md-6 col-sm-6">
													<button type="button"
														class="btn btn-outline-secondary btn-sm"
														data-toggle="modal" data-target="#exampleModalCenter">
														Ver fotos <i class="fas fa-image"> </i>
													</button>
												</div>
											</div> <!-- Modal -->
											<div class="modal fade" id="exampleModalCenter" tabindex="-1"
												role="dialog" aria-labelledby="exampleModalCenterTitle"
												aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered"
													role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLongTitle">Evidencias</h5>
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body" th:each="e: ${evidencias}">
															<img th:if="${e != null}"
																class="img-thumbnail rounded float-left img-responsive mx-auto d-block"
																style="max-width: 50%;"
																th:src="@{'/evidencias/' + ${e.url}}" />
															<hr>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-danger"
																data-dismiss="modal">Cerrar</button>
														</div>
													</div>
												</div>
											</div>
										</td>
										<td>
											<form th:action="@{/actividad/agregar-imagen}" method="post"
												enctype="multipart/form-data">
												<div class="row">
													<div class="col-md-9 col-sm-9">
														<span> <input class="form-control form-control-sm"
															id="formFileSm" type="file" accept="image/*"
															name="imagen" /> <input type="hidden"
															th:value="${a.idActividad}" name="id">
														</span>
													</div>

													<div class="col-md-3 col-sm-3">
														<button type="submit"
															class="btn btn-outline-danger btn-sm">Subir</button>
													</div>
												</div>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer th:replace="layout/layout :: footer"></footer>
	</div>
</body>
</html>